@font-face {
  font-family: 'PGothic';
  src: url('fonts/ms-pgothic.woff2') format('woff2'),
       url('fonts/ms-pgothic.woff') format('woff');
}

html, input[type='text'], select {
  font-family: 'MS PGothic', 'PGothic';
  font-size: 16px;
}

#game_frame {
  display: block;
  width: 100%;
  height: 480px;
  margin: 0 auto;
}

#uiControls {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

#chatboxContainer {
  width: 300px;
  height: 617px;
}

#chatbox {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

#messages {
  width: 284px;
  height: 100%;
  overflow-y: auto;
}

#messages::-webkit-scrollbar {
  width: 18px;
}

#chatInputContainer {
  width: auto;
  height: 48px;
  margin-top: 1px;
}

#chatInput {
  width: -webkit-calc(100% - 11px);
  width:    -moz-calc(100% - 11px);
  width:         calc(100% - 11px);
  right: 8px;
}

#enterNameContainer {
  margin-top: 12px;
  width: auto;
  height: auto;
}

#enterNameForm {
  margin-top: 8px;
}

#enterNameInstruction span {
  letter-spacing: -0.675px;
}

#nameInput {
  width: calc(100% - 28px);
}

#instructions {
  text-align: center;
}

.messageContainer {
  word-wrap: break-word;
}

label {
  font-weight: bold;
}

tr, td, div, input[type='text'] {
  image-rendering: crisp-edges;
  image-rendering: pixelated;
}

table {
  width: 1000px;
  margin: 0 auto;
  height: 623px;
}

input[type='text'], select {
  position: relative;
}
