:root {
  --base-color: rgb(216, 216, 216);
  --alt-color: rgb(255, 255, 157);
  --alt-color-t: rgba(255, 255, 157, 0.5);
  --base-bg-color: rgb(45, 17, 23);
  --shadow-color: black;
  --base-gradient: linear-gradient(to bottom, rgb(216, 216, 216) 0% 100%);
  --alt-gradient: linear-gradient(to bottom, rgb(216, 173, 173) 0% 100%);
  --base-gradient-b: linear-gradient(to bottom, rgb(216, 216, 216) 0% 100%);
  --alt-gradient-b: linear-gradient(to bottom, rgb(216, 173, 173) 0% 100%);
  --svg-base-gradient: url(#baseGradient);
  --svg-alt-gradient: url(#altGradient);
  --svg-shadow: url(#dropShadow);
  --base-color-image-url: url('images/ui/2kki/system1/font1.png');
  --container-bg-image-url: url('images/ui/2kki/system1/containerbg.png');
  --border-image-url: url('images/ui/2kki/system1/border.png');

  --modal-base-color: var(--base-color);
  --modal-alt-color: var(--alt-color);
  --modal-base-bg-color: var(--base-bg-color);
  --modal-shadow-color: var(--shadow-color);
  --modal-base-gradient: var(--base-gradient);
  --modal-alt-gradient: var(--alt-gradient);
  --modal-base-gradient-b: var(--base-gradient-b);
  --modal-alt-gradient-b: var(--alt-gradient-b);
  --modal-svg-base-gradient: var(--base-svg-gradient);
  --modal-svg-alt-gradient: var(--alt-svg-gradient);
  --modal-svg-shadow: var(--svg-shadow);
  --modal-base-color-image-url: var(--base-color-image-url);
  --modal-container-bg-image-url: var(--container-bg-image-url);
  --modal-border-image-url: var(--border-image-url);

  --party-base-color: var(--base-color);
  --party-alt-color: var(--alt-color);
  --party-alt-color-t: var(--alt-color-t);
  --party-base-bg-color: var(--base-bg-color);
  --party-shadow-color: var(--shadow-color);
  --party-base-gradient: var(--base-gradient);
  --party-alt-gradient: var(--alt-gradient);
  --party-svg-base-gradient: var(--base-svg-gradient);
  --party-svg-alt-gradient: var(--alt-svg-gradient);
  --party-svg-shadow: var(--svg-shadow);
  --party-container-bg-image-url: var(--container-bg-image-url);
  --party-border-image-url: var(--border-image-url);

  --rank-exp: 0;
  --rank-total-exp: 100;
  --week-exp: 0;

  --content-height: 0;
  --content-scroll: 0;

  --toast-offset: 0;
}

@font-face {
  font-family: 'PGothic';
  src: url('fonts/ms-pgothic.woff2') format('woff2'),
       url('fonts/ms-pgothic.woff') format('woff');
}

html, input, textarea, select, .checkbox, button.checkboxButton, button[type="button"], button[type="submit"] {
  font-family: 'MS PGothic', 'PGothic';
  font-size: 16px;
}

html, input, textarea, select, .checkbox, button.checkboxButton, button[type="button"], button[type="submit"] {
  color: var(--base-color) !important;
  background-color: black;
}

html {
  overflow-y: hidden;
}

#chatBorder, .toast, input, textarea, select, .checkbox, button.checkboxButton, button[type="button"], button[type="submit"] {
  border: 12px solid transparent;
  border-image: var(--border-image-url) 8 repeat !important;
}

textarea {
  height: 38px;
  resize: none;
}

svg {
  overflow: visible;
}

label {
  font-weight: bold;
}

input, textarea, select, .checkbox, button.checkboxButton, button[type="button"], button[type="submit"] {
  background-color: var(--base-bg-color) !important;
  text-shadow: 1.5px 1.5px var(--shadow-color);
}

input, select {
  position: relative;
}

button.checkboxButton, button[type="button"], button[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
}

button[type="button"]:disabled {
  cursor: not-allowed;
  opacity: 0.625;
}

.checkbox, button.checkboxButton {
  display: flex;
  align-items: center;
  justify-content: center;
  background: transparent;
  width: 38px;
  height: 38px;
  font-size: 18px;
  padding: 4px;
}

.checkbox {
  width: 6px;
  height: 6px;
}

.checkbox > span:after, button.checkboxButton > span:after {
  content: "";
}

.checkbox.toggled > span:after, button.checkboxButton:not(.inverseToggle).toggled > span:after, button.checkboxButton.inverseToggle:not(.toggled) > span:after {
  content: "✔";
}

body, .container, div, input, .checkbox, button.checkboxButton, button[type="button"], button[type="submit"] {
  image-rendering: crisp-edges;
  image-rendering: pixelated;
}

body {
  margin: 0;
}

.modal form {
  text-align: center;
  padding-bottom: 8px;
}

.unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  user-select: none;
}

.nowrap {
  white-space: nowrap;
}

.ru-spacing-fix {
  letter-spacing: -0.3em !important;
  padding-right: 2px;
}

.emoji {
  -webkit-text-fill-color: white;
}

.nofilter {
  filter: none !important;
}

.altText, .subTab.active .subTabLabel, .messageContainer.global .message .nameMarker, #unreadMessageCount, a:not(.modalClose):not(.listEntryAction) {
  background-image: var(--alt-gradient) !important;
}

.messageContainer.party .message .nameMarker {
  color: var(--party-alt-color) !important;
  filter: drop-shadow(1.5px 1.5px var(--party-shadow-color));
  background-image: var(--party-alt-gradient) !important;
}

.baseColorBg {
  background-color: var(--base-color) !important;
}

.baseColorFill {
  fill: var(--base-color) !important;
}

.pointer {
  cursor: pointer;
}

.container.fullBg {
  background-size: 650px;
}

.scrollableContainer {
  height: 100%;
  overflow-y: auto;
}

.uiControl {
  text-align: center;
}

.info {
  display: flex;
  padding-bottom: 8px;
}

.infoMessage {
  background-color: var(--base-bg-color);
}

@media (hover: hover) {
  .iconButton, a.fillIcon, .chatboxTabLabel, .item:not(.disabled), a.listEntryAction .icon, .rankingCategoryTabLabel, a.rankingPageLink, button.checkboxButton, button[type="button"]:not(:disabled), button[type="submit"], .ynomojiButton {
    transition: transform 0.125s cubic-bezier(0.7, 0, 0.7, 1.5);
  }

  .iconButton:hover, a.fillIcon:hover, a.listEntryAction:hover .icon, a.rankingPageLink:hover, .ynomojiButton:hover {
    transform: scale(1.25);
  }

  #nexusButton:hover, .chatboxTab:hover .chatboxTabLabel, .item:not(.disabled):hover, .rankingCategoryTab:hover .rankingCategoryTabLabel, button.checkboxButton:hover, button[type="button"]:not(:disabled):hover, button[type="submit"]:hover {
    transform: scale(1.1);
  }
}

.iconButton {
  background: transparent;
  border: none;
  cursor: pointer;
  -webkit-appearance: button;
}

.iconButton.hidden {
  display: none;
}

.iconButton path, .icon path, .icon circle {
  stroke: var(--svg-base-gradient);
  filter: var(--svg-shadow);
}

.iconButton:not(.offToggle).toggled path, .iconButton button:not(.offToggle).preToggled path, .iconButton.offToggle.toggled path:last-child, .iconButton.offToggle.preToggled path:last-child, .playerLocationIcon[title] path {
  stroke: var(--svg-alt-gradient);
}

#chatbox.partyChat #messages .iconButton path, #chatbox.partyChat #messages .playerLocationIcon path, #chatbox.partyChat #chatInput .icon circle {
  stroke: var(--party-svg-base-gradient);
  filter: var(--party-svg-shadow);
}

#chatbox.partyChat #messages .infoLabel, #chatbox.partyChat #messages .messageContents {
  background-image: var(--party-base-gradient) !important;
  filter: drop-shadow(1.5px 1.5px var(--party-shadow-color));
}

#chatbox.partyChat #messages .messageContainer, #chatbox.partyChat #chatBorder {
  border-image: var(--party-border-image-url) 8 repeat !important;
}

#chatbox.partyChat #messages .messageContainer.highlight {
  background: var(--party-alt-color-t);
}

#chatbox.partyChat #messages .playerLocationIcon[title] path {
  stroke: var(--party-svg-alt-gradient);
}

#chatbox.partyChat #chatInput {
  color: var(--party-base-color) !important;
  background-color: var(--party-base-bg-color) !important;
  text-shadow: 1.5px 1.5px var(--party-shadow-color);
}

.iconButton.fadeToggle:not(.toggled) path {
  opacity: 0.5;
}

.iconButton.offToggle path:last-child {
  stroke-width: 1.5;
}

.iconButton.offToggle:not(.toggled):not(.preToggled) path:last-child {
  display: none;
}

.icon path {
  fill: none;
}

.fillIcon path {
  stroke: none;
  fill: var(--svg-base-gradient);
}

.notice, .instruction {
  text-align: center;
}

.notice {
  font-weight: bold;
}

.infoText {
  width: 100%;
  word-break: keep-all;
}

.infoContainer .infoText {
  width: unset;
}

.halfStar {
  display: inline-block;
  overflow-x: hidden;
  width: 8px;
  vertical-align: bottom;
  margin-right: -8px;
}

.halfStar::after {
  content: "★"
}

#background {
  position: fixed;
  width: 100%;
  height: 100%;
  background-size: 210px;
  background-position-y: calc(-16px - var(--content-scroll) * 0.25);
  background-image: var(--container-bg-image-url) !important;
  z-index: -1;
}

body.fullBg #background {
  background-size: 100%;
}

#backgroundOverlay {
  position: fixed;
  background-color: black;
  width: 100%;
  height: 100%;
  opacity: 0.325;
  z-index: -1;
}

#backgroundTransition {
  background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 100%);
  height: 150px;
  margin: -128px -8px -16px -8px;
  scroll-snap-align: end;
}

#layoutEnd {
  width: 100%;
  height: 8px;
  scroll-snap-align: end;
}

#loadingOverlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: black;
  opacity: 1;
  z-index: 20;
  -webkit-transition: opacity 0.5s cubic-bezier(0.33, 1, 0.68, 1);
  -moz-transition: opacity 0.5s cubic-bezier(0.33, 1, 0.68, 1);
  -o-transition: opacity 0.5s cubic-bezier(0.33, 1, 0.68, 1);
  transition: opacity 0.5s cubic-bezier(0.33, 1, 0.68, 1);
}

#loadingOverlay.loaded {
  opacity: 0;
  pointer-events: none;
}

#content {
  height: 100vh;
  padding: 0 8px 8px 8px;
  overflow-y: auto;
  scroll-snap-type: y mandatory;
}

#top {
  height: 8px;
  scroll-snap-align: start;
}

#bottom {
  position: relative;
  height: calc(100vh - var(--content-height));
  background-color: black;
  margin: 0 -8px;
}

#header, #layout {
  display: flex;
  margin: 0 auto;
  max-width: 1036px;
}

#header, .container, .modal {
  background-size: 70px;
  background-position-y: -16px;
  background-image: var(--container-bg-image-url) !important;
  border-image: var(--border-image-url) 10 repeat !important;
  border: 24px solid transparent;
}

#header {
  position: relative;
  flex-wrap: wrap;
  justify-content: space-between;
  min-height: 48px;
  max-width: 980px;
  border: 12px solid transparent;
  border-image-width: 2 !important;
  padding: 12px 16px 0px 16px;
}

#header.fullBg {
  background-size: 96px;
}

#headerLogoContainer, #headerIconContainer {
  padding-bottom: 12px;
}

#headerLogoContainer {
  display: flex;
}

#nexusButton {
  display: inline-flex;
  padding: 0 4px;
  z-index: 1;
}

#content:not(.downscale2) #nexusButton {
  padding-top: 8px;
  margin-right: -30px;
}

#content.downscale2 #nexusButton {
  margin-left: -6px;
}

#content.downscale2 #nexusButton svg:first-child, #content.downscale2 #nexusButton svg:nth-child(2), #content:not(.downscale2) #nexusButton svg:last-child {
  display: none;
}

#content #nexusButton svg:nth-child(2) {
  position: relative;
  left: -135px;
}

#nexusButton:not(:hover) svg:not(:first-child) path:last-child, #nexusButton:hover svg:not(:first-child) path:first-child {
  display: none;
}

#nexusButton path {
  stroke-width: 0.5;
}

#gameLogoContainer {
  display: inline-flex;
  flex-direction: column;
  margin: auto 0;
  padding-left: 8px;
}

#gameLogo {
  position: relative;
  -webkit-transition: opacity 0.15s ease-in-out;
  -moz-transition: opacity 0.15s ease-in-out;
  -o-transition: opacity 0.15s ease-in-out;
  transition: opacity 0.15s ease-in-out;
  background-size: cover;
}

#gameLogo.hidden {
  opacity: 0;
}

#gameLogoOverlay {
  width: 100%;
  height: 100%;
  background-image: var(--base-gradient-b) !important;
  -webkit-mask-size: cover;
  mask-size: cover;
}

#headerIconContainer, #footerIconContainer {
  display: flex;
  align-items: center;
}

#headerIconContainer .iconButton {
  margin-right: 8px;
}

#footerIconContainer {
  justify-content: center;
  margin-top: 16px;
  margin-left: 8px;
}

#layout {
  width: 100%;
  overflow: hidden;
  scroll-snap-align: start;
}

#layout::-webkit-scrollbar, .scrollableContainer::-webkit-scrollbar, .modalContent::-webkit-scrollbar {
  width: 18px;
}

#layout::-webkit-scrollbar-track, .scrollableContainer::-webkit-scrollbar-track, .modalContent::-webkit-scrollbar-track {
  border: 8px solid transparent;
  border-image: var(--border-image-url) 8 repeat !important;
  background-color: var(--base-bg-color);
  image-rendering: crisp-edges;
  image-rendering: pixelated;
}

#layout::-webkit-scrollbar-thumb, .scrollableContainer::-webkit-scrollbar-thumb, .modalContent::-webkit-scrollbar-thumb {
  border: 8px solid transparent;
  border-image: var(--border-image-url) 6 round !important;
  image-rendering: crisp-edges;
  image-rendering: pixelated;
}

#layout.downscale .container.fullBg {
  background-size: 530px;
}

#layout.downscale2 .container.fullBg {
  background-size: 410px;
}

#mainContainer {
  display: flex;
  flex-direction: column;
  width: calc(100% - 48px);
  z-index: 2;
}

#content.noSideBorders #header, #content.noSideBorders #mainContainer {
  border-left-width: 0;
  border-right-width: 0;
  width: 100%;
}

#content.noSideBorders #header {
  width: calc(100% - 32px);
}

#content.noSideBorders #layout:not(:fullscreen) #chatboxContainer {
  border-left-width: 0;
  border-right-width: 0;
  width: 100%;
}

/* Ignore :fullscreen on iOS since it's not supported */
@supports (-webkit-touch-callout: none) {
  #content.noSideBorders #chatboxContainer {
    border-left-width: 0;
    border-right-width: 0;
    width: 100%;
  }
}

#controls, #leftControls {
  width: 100%;
}

#controls, #rightControls {
  display: flex;
  justify-content: right;
}

#controls {
  z-index: 10;
  opacity: 1;
}

#layout:fullscreen #controls.fshidden {
  -webkit-transition: opacity 0.5s ease-in-out;
  -moz-transition: opacity 0.5s ease-in-out;
  -o-transition: opacity 0.5s ease-in-out;
  transition: opacity 0.5s ease-in-out;
  opacity: 0;
}

#layout.singlePlayer .multiplayerOnly {
  display: none !important;
}

#explorerControls, #mapControls {
  display: flex;
}

#leftControls button, #rightControls > div > button {
  margin-right: 8px;
  margin-bottom: 8px;
}

#layout:not(:fullscreen) #controls {
  height: 24px;
  margin-bottom: -24px;
  position: relative;
}

/* Ignore :fullscreen on iOS since it's not supported */
@supports (-webkit-touch-callout: none) {
  #controls {
    height: 24px;
    margin-bottom: -24px;
    position: relative;
  }
}

#controls button {
  padding-right: 1px;
}

#controls svg {
  pointer-events: none;
}

#canvasContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

#canvas {
  display: block;
  top: 0;
  margin: 0 auto;
  min-width: 320px;
  width: 640px;
  max-width: calc(100vw - 64px);
  min-height: 240px;
  height: 480px;
  max-height: calc((100vw - 64px) * 0.75);
  border: 0;
  image-rendering: pixelated;
  image-rendering: crisp-edges;
  outline: none;
}

#game_frame {
  display: block;
  width: 100%;
  height: 480px;
  margin: 0 auto;
}

#content.downscale #layout:not(:fullscreen) canvas {
  width: 480px;
  height: 360px;
  image-rendering: auto;
}

#content.downscale2 #layout:not(:fullscreen) canvas {
  width: 320px;
  height: 240px;
}

/* Ignore :fullscreen on iOS since it's not supported */
@supports (-webkit-touch-callout: none) {
  #content.downscale canvas {
    width: 480px;
    height: 360px;
    image-rendering: auto;
  }
  
  #content.downscale2 canvas {
    width: 320px;
    height: 240px;
  }
}

#content.noSideBorders #canvas {
  max-width: calc(100vw - 16px);
  max-height: calc((100vw - 16px) * 0.75);
}

#uiControls {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 16px;
}

#chatboxContainer {
  min-height: 240px;
  z-index: 1;
}

#layout.hideChat #chatboxContainer, #layout.hideChat #globalChatButton {
  display: none !important;
}

#chatbox {
  display: flex;
  flex-direction: column;
  width: 100%;
}

#chatboxInfo {
  display: flex;
  flex-direction: column;
}

#connStatusIcon {
  background: linear-gradient(#b30000, #800000);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

#connStatusIcon.connecting {
  background-image: linear-gradient(#b35900, #804000);
}

#connStatusIcon.connected {
  background-image: linear-gradient(#00b33c, #00802b);
}

#connStatusIcon.singlePlayer {
  background-image: linear-gradient(#595959, #404040);
}

#locationLabel {
  height: fit-content;
  padding-left: 22px;
}

#locationText {
  text-align: right;
}

#chatboxContent {
  display: contents;
}

#chatboxTabs {
  display: flex;
  height: 0;
}

.chatboxTab {
  display: flex;
  flex-wrap: wrap;
  height: 22px;
  padding: 4px;
  padding-bottom: 0;
  margin-right: 4px;
  border-bottom-width: 8px;
  pointer-events: all;
  cursor: pointer;
}

.chatboxTab.active {
  padding-bottom: 10px;
  border-bottom-width: 0;
  background-size: 70px;
  background-image: var(--container-bg-image-url) !important;
  z-index: 2;
  pointer-events: none;
  cursor: default;
}

.chatboxTabLabel {
  pointer-events: none;
  font-weight: normal;
}

.chatboxTabSection {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin-top: 40px;
}

.chatboxTabSection {
  overflow: hidden;
}

.tabHeader {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

#content:not(.inParty) #playersHeader {
  display: none;
}
 
.subTabs {
  display: flex;
}

.subTab, .tabButtons button {
  padding: 2px 2px 0 0;
  pointer-events: all;
  cursor: pointer;
}

.subTab.active {
  pointer-events: none;
  cursor: default;
}

.subTab .subTabLabel {
  padding: 0 8px;
}

.subTab.unread .subTabLabel {
  font-weight: bold;
  padding: 0 7px;
}

#content:not(.inParty) .partySubTab, #content.inParty #createPartyButton, #content:not(.inParty) #disbandPartyButton, #content:not(.partyOwner) #disbandPartyButton {
  display: none;
}

.subTabBg {
  position: relative;
  width: 100%;
  height: 100%;
  top: -100%;
  border-radius: 4px 4px 0 0;
  background-image: var(--base-gradient) !important;
  opacity: 0;
  z-index: -1;
}

.subTab:hover .subTabBg {
  opacity: 0.1;
}

.subTab.active .subTabBg {
  opacity: 0.25;
}

.subTabLabel {
  pointer-events: none;
}

#unreadMessageCount {
  filter: drop-shadow(1.5px 1.5px var(--shadow-color));
}

.chatboxTabContent, .chatboxTabContent > .divider {
  border-top: 8px solid transparent;
  border-image: var(--border-image-url) 10 repeat !important;
  overflow-x: hidden;
}

#content:not(.inParty) .playerList, #content.inParty:not(.partyOwner) .partyList {
  border-top: none;
}

.chatboxTabContent > .infoText {
  display: flex;
  justify-content: center;
  padding-bottom: 4px;
}

#chatbox.mapChat .messageContainer.global, #chatbox.mapChat .messageContainer.party, #chatbox.globalChat .messageContainer:not(.global), #chatbox.partyChat .messageContainer:not(.party), #chatbox:not(.mapChat) .messageContainer.map, #chatbox:not(.partyPlayers) #partyPlayerList, #chatbox.partyPlayers #playerList {
  display: none;
}

#chatbox.partyChat #messages, #chatbox.partyPlayers #partyPlayerList {
  background-size: 70px;
  background-position-x: -8px;
  background-position-y: -16px;
  border-image: var(--party-border-image-url) 10 repeat !important;
}

#layout:not(:fullscreen) #chatbox.partyChat #messages, #layout:not(:fullscreen) #chatbox.partyPlayers #partyPlayerList {
  background-image: var(--party-container-bg-image-url) !important;
}

/* Ignore :fullscreen on iOS since it's not supported */
@supports (-webkit-touch-callout: none) {
  #chatbox.partyChat #messages, #chatbox.partyPlayers #partyPlayerList {
    background-image: var(--party-container-bg-image-url) !important;
  }
}

.messageContainer {
  word-wrap: break-word;
  border-bottom: 4px solid transparent;
  border-image: var(--border-image-url) 8 repeat !important;
}

.messageContainer.highlight {
  background: var(--alt-color-t);
}

#chatbox.allChat .lastAllTabMessageInLoc, #chatbox.mapChat .lastMapTabMessageInLoc, .messageContainer.locMessage {
  border-bottom-width: 8px !important;
}

.messageContainer.locMessage {
  text-align: center;
}

.messageContents .spoiler {
  border: 1px solid var(--base-color);
}

.messageContents.notext .spoiler {
  padding: 5px 0 9px 0;
}

.messageContents .spoiler:not(.show) {
  background-color: var(--shadow-color);
  cursor: pointer;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  user-select: none;
}

.messageContents .ynomojiWrapper {
  display: inline-flex;
  justify-content: center;
  vertical-align: middle;
  width: 16px;
  height: 16px;
  padding: 0.33px 0;
}

.messageContents.notext .ynomojiWrapper {
  width: 32px;
  height: 32px;
}

.messageContents .spoiler:not(.show) .ynomojiWrapper {
  opacity: 0;
  pointer-events: none;
}

.playerLocationIcon {
  float: left;
  width: 12px;
  height: 0px;
  padding-right: 4px;
  padding-bottom: 6px;
  margin-top: -2px;
  margin-left: 2px;
}

.detailsContainer .playerLocationIcon {
  height: 12px;
}

.playerLocationIcon svg {
  vertical-align: middle;
}

.playerLocation {
  display: flex;
  flex-flow: wrap;
}

.playerLocation.hidden + .message  > .messageContents.notext {
  vertical-align: top;
}

.message, .toastMessage {
  word-break: break-word;
  image-rendering: auto;
}

.message .icon, .listEntry .nameText .icon {
  display: inline-block;
  vertical-align: text-top;
  width: 12px;
  height: 12px;
  margin: 0 2px;
}

.nameBadge {
  display: inline-block;
  width: 18.5px;
  height: 18.5px;
  margin: -4px 0 0 2px;
  background-size: contain;
  vertical-align: middle;
}

.nameBadge > .badgeOverlay {
  mask-size: contain;
}

.playerCountLabel {
  cursor: pointer;
}

.listEntry {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-size: 38px;
  background-position: -2px -2px;
  border: 4px solid transparent;
  background-image: var(--container-bg-image-url) !important;
  border-image: var(--border-image-url) 8 repeat !important;
  padding: 1px;
  margin-bottom: 4px;
}

.playerListEntry.offline {
  opacity: 0.5;
}

.playerListEntryBadge {
  min-width: 37px;
  height: 37px;
  margin: -5px -4px -5px 0;
}

.listEntrySprite {
  margin-right: 8px;
  min-width: 40px;
  min-height: 32px;
}

.listEntrySprite.offline {
  opacity: 0.5;
}

.listEntry .detailsContainer {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.listEntry .nameTextContainer {
  width: 100%;
}

.nameTextContainer .icon {
  display: inline-block;
  vertical-align: text-top;
  width: 12px;
  height: 12px;
  margin: 0 2px;
}

.nameText {
  image-rendering: auto;
}

.listEntry .nameText {
  width: 100%;
  background-image: var(--base-color-image-url) !important;
  filter: drop-shadow(1.5px 1.5px var(--shadow-color));
}

.listEntry .partyNameContainer {
  display: flex;
  width: 100%;
}

.partyNameContainer .nameText {
  height: 18px;
  word-break: break-all;
}

.listEntry .partyListEntryMemberCount {
  display: flex;
  padding-right: 8px;
  float: right;
}

.listEntry .partyListEntryMemberCount .icon {
  width: 12px;
  height: 12px;
}

.listEntry .partyMemberSpritesContainer {
  height: 16px;
  overflow-y: hidden;
}

.listEntry .partyMemberSpritesContainer img {
  min-width: 20px;
  min-height: 16px;
  margin-right: 4px;
}

.listEntryActionContainer {
  display: flex;
}

.listEntryActionContainer .icon {
  width: 24px;
  height: 24px;
  padding: 0 2px;
}

.listEntryActionContainer .icon:first-child {
  padding-left: 8px;
}

#unreadMessageCountContainer {
  width: 0;
  height: 0;
  margin-top: -16px;
  margin-left: -8px;
  z-index: 3;
}

#unreadMessageCount {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 16px;
  height: 16px;
  padding: 2px;
  border-radius: 12px;
}

#unreadMessageCountLabel {
  font-weight: normal;
}

#chatInputContainer, #ynomojiContainer, #enterNameContainer, .chatboxTab, .chatboxTabSection, .rankingCategoryTab, .infoMessage {
  border: 8px solid transparent;
}

#chatInputContainer {
  display: flex;
  width: auto;
  height: 48px;
  margin-top: 1px;
}

#chatInputContainer form {
  width: 100%;
  margin-right: -32px;
}

#chatbox.allChat #chatInputContainer.globalCooldown form {
  margin-right: -50px;
}

#chatInput, #nameInput {
  pointer-events: all;
}

#chatInput {
  width: calc(100% - 38px);
  height: 22px;
  right: 8px;
  padding-right: 28px;
  border-image: none !important;
}

#chatbox.mapChat #chatInputContainer:not(.globalCooldown) #chatInput, #chatbox.globalChat #chatInputContainer:not(.globalCooldown) #chatInput, #chatbox.partyChat #chatInputContainer:not(.globalCooldown) #chatInput {
  width: calc(100% - 13px);
  padding-right: 2px;
}

#chatInput:disabled {
  opacity: 0.675;
}

#chatbox.allChat #chatInputContainer.globalCooldown #chatInput {
  width: calc(100% - 62px);
  padding-right: 52px;
}

#globalCooldownIcon {
  position: relative;
  top: calc(50% - 9px);
  width: 18px;
  height: 18px;
}

#globalCooldownIcon svg {
  stroke-width: 1.5;
}

#globalCooldownIcon .bgCircle {
  opacity: 0.325;
}

#globalCooldownIcon .timerCircle {
  stroke: var(--svg-alt-gradient) !important;
  stroke-dashoffset: 60;
  stroke-dasharray: 0;
  transform: translateY(100%) rotateZ(-90deg);
}

@keyframes timer {
  from {
    stroke-dashoffset: 60;
    stroke-dasharray: 60;
  }
  
  to {
    stroke-dashoffset: 0;
    stroke-dasharray: 60;
  }
}

#chatInputContainer.globalCooldown #globalCooldownIcon .timerCircle {
  animation: 15s timer linear;
}

#chatInputContainer:not(.globalCooldown) #globalCooldownIcon {
  display: none;
}

#chatbox:not(.allChat) #globalCooldownIcon {
  left: 8px;
}

#globalMessageButton {
  position: relative;
  top: 1px;
  left: 4px;
  pointer-events: all;
}

#chatbox:not(.allChat) #globalMessageButton {
  display: none;
}

#globalChatInputOverlay, #chatBorder {
  position: relative;
  pointer-events: none;
}

#globalChatInputOverlay {
  width: calc(100% - 8px);
  height: calc(100% - 8px);
  top: calc(-100% + 4px);
  right: 4px;
  padding: 0 8px;
  background-image: var(--alt-gradient-b) !important;
  mix-blend-mode: color;
}

#chatInput:not([data-global]) + #globalChatInputOverlay {
  display: none;
}

#chatBorder {
  width: calc(100% - 8px);
  right: 8px;
  height: 50%;
  top: -100%;
}

#chatInput[data-global] + #globalChatInputOverlay + #chatBorder {
  top: calc(-200% + 8px);
}

#ynomojiContainer, #enterNameContainer, .chatboxTab, .chatboxTabSection, .rankingCategoryTab, .infoMessage, .checkbox, button.checkboxButton, button[type="button"], button[type="submit"] {
  border-image: var(--border-image-url) 10 repeat !important;
}

#ynomojiContainer {
  position: absolute;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  height: unset;
  min-height: 32px;
  padding: 4px;
  margin-bottom: 9px;
  background-color: var(--base-bg-color);
  z-index: 3;
}

.ynomoji {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  image-rendering: auto;
}

.ynomojiButton {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  margin: 2px;
  pointer-events: all;
}

#enterNameContainer {
  margin-top: 12px;
  width: auto;
  height: auto;
}

#enterNameForm {
  margin-top: 8px;
}

#modalContainer.hidden, .modal.hidden, .info.hidden, .playerCountLabel.hidden, #unreadMessageCountContainer.hidden, .chatboxTabSection.hidden, .messageContainer.locMessage.hidden, .playerLocationIcon.hidden, .playerLocation.hidden, .playerLocationIcon.hidden + .playerLocation, .subTab.hidden, #ynomojiContainer.hidden, .ynomojiButton.hidden, #partyModalDescriptionContainer.hidden, .partyModalPlayerCount.hidden {
  display: none;
}

#enterNameInstruction, .nameText, .nameMarker, .partyListEntryMemberCountText, .chatboxTabLabel, .notice, .instruction, .infoLabel, .infoText, .messageContents, .toast .toastMessage, h1, h2, h3, h4, a:not(.listEntryAction), label, th {
  background-image: var(--base-gradient) !important;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  filter: drop-shadow(1.5px 1.5px var(--shadow-color));
}

#enterNameInstruction span {
  letter-spacing: -0.675px;
}

#nameInput {
  width: calc(100% - 28px);
}

#onlineInfo {
  justify-content: space-between;
}

#footer {
  display: flex;
  width: 100%;
  max-width: 1036px;
  margin: 0 auto;
}

#translationInstruction, #noGameLocInstruction {
  font-size: small;
  padding: 0;
}

#translationInstruction.hidden, #noGameLocInstruction.hidden {
  display: none;
}

#modalContainer {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
}

.modal {
  position: relative;
  display: flex;
  flex-direction: column;
  top: auto;
  left: auto;
  width: 100%;
  height: auto;
  max-width: min(480px, calc(100% - 112px));
  max-height: calc(100% - 112px);
  margin: 8px;
  padding-bottom: 16px;
  background-image: var(--modal-container-bg-image-url) !important;
  border-image: var(--modal-border-image-url) 10 repeat !important;
  z-index: 20;
}

.modal.fullBg {
  background-size: calc(100vh - 80px);
}

.fullscreenModal {
  position: fixed;
  top: 32px;
  left: 32px;
  width: calc(100% - 112px);
  height: calc(100% - 112px);
  max-width: unset;
  margin: 0;
  padding: 0;
}

.modalClose {
  position: absolute;
  right: -32px;
  top: -32px;
  font-size: 32px;
  line-height: 1;
  text-decoration: none;
}

.modal input, .modal textarea, .modal select, .modal .checkbox, .modal button.checkboxButton, .modal button[type="button"], .modal button[type="submit"] {
  color: var(--modal-base-color) !important;
  border-image: var(--modal-border-image-url) 8 repeat !important;
  background-color: var(--modal-base-bg-color) !important;
  text-shadow: 1.5px 1.5px var(--modal-shadow-color);
}

.modal a:not(.modalClose):not(.listEntryAction) {
  background-image: var(--modal-alt-gradient) !important;
}

.modal .iconButton path, .modal .icon path {
  stroke: var(--modal-svg-base-gradient);
  filter: var(--modal-svg-shadow);
}

.modal .fillIcon path {
  stroke: none;
  fill: var(--modal-svg-base-gradient);
}

.modal .altText {
  background-image: var(--modal-alt-gradient) !important;
}

.modal .baseColorBg {
  background-color: var(--modal-base-color) !important;
}

.modal .baseColorFill {
  fill: var(--modal-base-color) !important;
}

.modal .infoLabel, .modal .infoText, .modal h1, .modal h2, .modal h3, .modal h4, .modal a:not(.listEntryAction), .modal label {
  background-image: var(--modal-base-gradient) !important;
  filter: drop-shadow(1.5px 1.5px var(--modal-shadow-color));
}

.modalContent {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 100%;
  height: 100%;
  overflow-y: auto;
}

.modalContent::-webkit-scrollbar-track {
  border-image: var(--modal-border-image-url) 8 repeat !important;
  background-color: var(--modal-base-bg-color);
}

.modalContent::-webkit-scrollbar-thumb {
  border-image: var(--modal-border-image-url) 6 round !important;
}

.fullscreenModal .modalContent {
  align-content: baseline;
}

.modalContent .itemCategoryHeader {
  width: 100%;
  text-align: center;
}

.itemContainer > .item {
  margin: 22px;
  text-align: center;
}

.itemContainer > .item.hidden {
  display: none;
}

.itemContainer > .item > div {
  -webkit-appearance: button;
  cursor: pointer;
}

.itemContainer > .badgeItem.disabled > div {
  cursor: not-allowed;
}

.itemContainer > .uiThemeItem.auto {
  margin-top: 2px;
}

.itemContainer > .item > div, #modalContainer[data-last-modal-id$="createPartyModal"] .modalContent > .item > div:not(.partySelected) {
  border: 2px solid transparent;
}

.itemContainer > .item > div.selected, #modalContainer[data-last-modal-id$="createPartyModal"] .modalContent > .item > div.partySelected {
  border-color: white;
}

.itemContainer .badgeItem > div {
  width: 98px;
  height: 98px;
}

.itemContainer .badgeItem > .badgeContainer {
  background-color: var(--base-bg-color) !important;
}

.modalContent.itemContainer .badgeItem > .badgeContainer {
  background-color: var(--modal-base-bg-color) !important;
}

.itemContainer .badgeItem > .badgeContainer > div {
  width: 74px;
  height: 74px;
  border: 12px solid transparent;
  border-image: var(--border-image-url) 8 repeat !important;
}

.modalContent.itemContainer .badgeItem.locked > .badgeContainer > div:first-child {
  border-image: var(--modal-border-image-url) 8 repeat !important;
}

.itemContainer .badgeItem.locked > .badgeContainer > div:first-child {
  border: none !important;
  margin: 16px 12px 8px 12px;
}

.itemContainer .badgeItem.locked > .badgeContainer > .badge:first-child {
  opacity: 0.325;
  filter: grayscale(1);
}

.itemContainer .badgeItem > .badgeContainer > div:nth-child(2) {
  margin-top: -94px;
  mix-blend-mode: lighten; /* Fixes visual bug with opacity and transition */
}

.itemContainer .badgeItem > .badgeContainer > .icon > svg {
  padding: 8px;
}

.itemContainer .badgeItem.locked > .badgeContainer > .icon:nth-child(2) > svg {
  transition: opacity 0.325s ease-in-out;
}

.itemContainer .badgeItem.locked:hover > .badgeContainer > .icon:nth-child(2) > svg {
  opacity: 0;
}

.itemContainer .badgeItem > .badgeContainer > .badge {
  background-size: cover;
  background-repeat: no-repeat;
}

.itemContainer .badgeItem > .badgeContainer > .badge > .badgeOverlay {
  background-image: var(--base-gradient);
  -webkit-mask-size: cover;
  mask-size: cover;
}

.modalContent.itemContainer .badgeItem > .badgeContainer > .badge > .badgeOverlay {
  background-image: var(--modal-base-gradient);
}

#headerIconContainer > .badgeItem {
  margin: -5px 8px 0 0;
}

#headerIconContainer > .badgeItem > .badgeContainer {
  margin-bottom: -8px;
}

.smallItemContainer > .item {
  margin: 16px;
}

.smallItemContainer > .badgeItem > .badgeContainer {
  width: 49px;
  height: 49px;
}

.smallItemContainer > .badgeItem > .badgeContainer > div {
  width: 37px;
  height: 37px;
  border: 6px solid transparent;
}

.modalContent .showHidePasswordLink.showPassword > span:first-child, .modalContent .showHidePasswordLink:not(.showPassword) > span:last-child {
  display: none;
}

#modalContainer[data-last-modal-id$="createPartyModal"] .uiThemeItem.auto, #modalContainer[data-last-modal-id$="createPartyModal"] .modalFooter, #createPartyModal:not([data-update]) .modalTitle .updateTitle, #createPartyModal[data-update] .modalTitle .createTitle {
  display: none;
}

#notificationSettingsModal.notificationsOff .formControlRow:not(:first-child) {
  display: none;
}

#partyModal .modalTitle .icon {
  display: inline-block;
  padding: 0 4px;
}

#partyModal .modalTitle .icon svg {
  width: 24px;
  height: 24px;
}

#partyModal .modalTitle .editButton path {
  fill: var(--modal-svg-alt-gradient);
}

.modalHeader, .modalFooter {
  text-align: center;
}

.modalFooter {
  margin-top: 16px;
}

.modalOverlay {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5);
  z-index: 10;
}

.formControls {
  list-style-type: none;
  padding: 0;
}

.formControlRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
}

.formControlRow.indent {
  padding-left: 40px;
}

.formControlRow.hidden {
  display: none;
}

.formControlRow > div:first-child {
  width: 100%;
}

.formControlRow > div:first-child > div:nth-child(2) {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.formControlRow > .textareaContainer {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.formControlRow > .textareaContainer > label {
  padding-bottom: 4px;
}

.formControlRow label {
  padding-right: 8px;
}

.formControlRow div {
  text-align: right;
}

.uiTheme {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 64px;
  height: 64px;
  background-size: 64px;
  background-position-y: -16px;
  border: 24px solid transparent;
  -webkit-appearance: button;
  cursor: pointer;
}

form.fullWidth {
  width: calc(100% - 8px);
}

form .uiTheme {
  width: 32px;
  height: 32px;
  background-size: 32px;
  background-position-y: -8px;
  border-width: 12px;
}

.uiTheme.fullBg {
  background-size: 112px;
}

.uiTheme > img {
  width: 100%;
  pointer-events: none;
}

#partyModalDescriptionContainer {
  min-width: 200px;
  max-width: 100%;
}

#partyModalDescriptionContainer > .icon {
  float: left;
  width: 18px;
  height: 100%;
  margin-right: 4px;
}

#partyModalDescription {
  display: inline;
  word-break: break-word;
}

#partyModalPlayerListContainer {
  width: 284px;
}

#partyModalOfflinePlayerList .playerListEntry {
  opacity: 0.5;
}

#eventPeriodInfoContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

#expRankInfoContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 37px;
  margin: 0 20%;
}

#expRankInfoContainer label {
  font-size: 20px;
  white-space: nowrap;
}

#expRankContainer {
  display: flex;
  align-items: center;
}

.badgeSlotsContainer {
  max-width: 225px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.badgeSlot {
  width: 37px;
  height: 37px;
  margin: 4px;
}

.badgeButton {
  cursor: pointer;
  -webkit-appearance: button;
}

.badge.hidden {
  display: none;
}

.badgeOverlay {
  height: 100%;
  mix-blend-mode: multiply;
}

#expRankBadge {
  margin-left: 8px;
}

#rankExpContainer {
  width: 100%;
  margin-bottom: 16px;
}

#eventPeriod, #eventPeriodEndDateLabel {
  text-align: center;
}

#eventPeriod {
  margin: 0;
}

.expBarHeading {
  margin-right: auto;
}

.expBarContainer {
  display: flex;
  flex-direction: column;
  width: calc(100% - 8px);
  height: 24px;
  border: 4px solid transparent;
  border-image: var(--border-image-url) 8 repeat !important;
  background-color: var(--base-bg-color);
}

.expBarLabel {
  display: flex;
  align-items: center;
  margin: 0 auto;
  min-height: 24px;
  image-rendering: auto;
}

#rankExpBarLabel::after {
  counter-reset: rank-exp var(--rank-exp) rank-total-exp var(--rank-total-exp);
  content: counter(rank-exp) '/' counter(rank-total-exp);
}

#weekExpBarLabel::after {
  counter-reset: week-exp var(--week-exp);
  content: counter(week-exp) '/40';
}

.expBar {
  height: 100%;
  margin-top: -24px;
  background: var(--base-gradient-b);
  transition: width 0.5s ease-in-out;
}

#rankExpBar {
  width: calc((var(--rank-exp) / var(--rank-total-exp)) * 100%);
}

#weekExpBar {
  width: calc(var(--week-exp) * 2.5%);
}

#eventLocationList {
  width: 100%;
}

#eventLocationList .eventLocationListEntry.complete {
  opacity: 0.625;
}

#eventLocationList .eventLocationListEntry .detailsContainer {
  flex-direction: column;
  width: 60%;
}

#eventLocationList .eventLocationListEntry .eventLocationEndDateContainer {
  display: flex;
  flex-direction: column;
  width: 40%;
  padding-right: 16px;
}

#eventLocationList .eventLocationListEntry .eventLocationEndDateContainer > div {
  text-align: right;
}

#eventLocationList .eventLocationListEntry .eventLocationPoints {
  padding-right: 16px;
  text-align: right;
  white-space: nowrap;
}

#rankingCategoryTabs {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin-bottom: 8px;
}

.rankingCategoryTab {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  text-align: center;
  padding: 4px;
  margin-right: 4px;
  pointer-events: all;
  cursor: pointer;
  opacity: 0.625;
  transition: opacity 0.325s ease-in-out;
}

.rankingCategoryTab:hover {
  opacity: 1;
}

.rankingCategoryTab.active {
  z-index: 2;
  pointer-events: none;
  cursor: default;
  opacity: 1;
}

.rankingCategoryTabLabel {
  pointer-events: none;
  font-weight: normal;
}

#rankingSubCategoryTabs {
  flex-wrap: wrap;
  width: 100%;
}

#rankingsTable, #rankingsTable tr {
  border-image: var(--border-image-url) 8 repeat !important;
}

#rankingsTable {
  width: 100%;
  border: 12px solid transparent;
}

#rankingsTable th, #rankingsTable td {
  border: 8px solid transparent;
  border-right-width: 0;
  border-bottom-width: 0;
  border-image: var(--border-image-url) 8 repeat !important;
}

#rankingsTable th {
  border-top-width: 0;
  text-align: left;
  white-space: nowrap;
}

#rankingsTable th:first-child, #rankingsTable th:last-child, #rankingsTable td:first-child, #rankingsTable td:last-child {
   text-align: center;
}

#rankingsTable th:first-child, #rankingsTable td:first-child {
  border-left-width: 0;
}

#rankingsTable td:first-child, #rankingsTable td:last-child {
  white-space: nowrap;
  padding: 0 8px;
}

#rankingsTable td:last-child {
  text-align: right;
}

#rankingsTable th:nth-child(2), #rankingsTable td:nth-child(2) {
  width: 100%;
  padding-left: 4px;
}

#rankingsTable tr.highlight td {
  background-color: var(--alt-color-t);
}

#rankingsPagination {
  margin-top: 8px;
}

.rankingPageLink {
  font-size: 18px;
  margin: 0 4px;
}

.rankingPageSkipLink {
  letter-spacing: -0.15em;
  padding-right: 0.15em;
}

#layout.immersionMode .playerCountLabel, #layout:not(.immersionMode) #immersionModeLabel, #layout.immersionMode #location, #layout.immersionMode #chatboxTabs, #layout.immersionMode .subTab, #layout.immersionMode #ownGlobalMessageLocationButton, #layout.immersionMode #mapControls, #layout.immersionMode #explorerControls {
  display: none;
}

#layout.immersionMode .chatboxTabSection {
  margin-top: 0;
}

#content.loggedIn #loginButton, #content:not(.loggedIn) #logoutButton, #content:not(.loggedIn) .accountRequired {
  display: none;
}

#toastContainer {
  position: fixed;
  display: flex;
  flex-direction: column;
  width: min(320px, calc(100vw - 40px));
  bottom: var(--toast-offset);
  left: 0;
  margin: 0 0 8px 8px;
  z-index: 20;
}

#toastContainer.top {
  flex-direction: column-reverse;
  bottom: unset;
  top: var(--toast-offset);
  margin-top: 8px;
  margin-bottom: 0;
}

#toastContainer.right {
  left: unset;
  right: 0;
  margin-left: 0;
  margin-right: 8px;
}

#toastContainer.anim {
  transition: bottom 0.5s cubic-bezier(0.7, 0, 0.7, 1.5);
}

#toastContainer.top.anim {
  transition: top 0.5s cubic-bezier(0.7, 0, 0.7, 1.5);
}

.toast {
  display: flex;
  align-items: center;
  width: calc(100% - 24px);
  margin: 0 0 8px 8px;
  background-image: var(--container-bg-image-url) !important;
  background-size: 35px;
  background-position-y: -8px;
}

#toastContainer.top .toast {
  margin-top: 8px;
  margin-bottom: 0;
}

#toastContainer.right .toast {
  margin-left: -8px;
}

.toast.fade {
  transition: opacity 1s ease-in-out;
  opacity: 0;
}

.toast > .icon {
  width: 24px;
  height: 24px;
  min-width: 24px;
  min-height: 24px;
  margin: 4px 8px 4px 0;
}

.toastMessageContainer {
  width: 100%;
}

.toastMessage {
  display: inline;
}

.toastMessage .nameTextContainer {
  display: inline;
}

.toast .closeToast {
  right: 0;
  text-decoration: none;
  image-rendering: auto;
}

.tippy-box {
  border: 6px solid transparent;
  border-image: var(--border-image-url) 8 repeat !important;
  border-image-width: 2 !important;
  background-image: var(--container-bg-image-url) !important;
}

.tippy-content .tooltipContent {
  display: inline;
  background-image: var(--base-gradient) !important;
  filter: drop-shadow(1.5px 1.5px var(--shadow-color));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.tippy-content .tooltipTitle {
  margin: 0 0 8px 0;
  text-align: center;
}

.tippy-content .tooltipSpacer {
  margin-top: 4px;
}

.tippy-content .tooltipLocation {
  display: block;
  margin-bottom: 8px;
}

.tippy-content label, .tippy-content .tooltipContent:first-child {
  font-size: 16px;
}

.tippy-content .tooltipFooter {
  display: block;
  text-align: center;
  margin-top: 8px;
}

.tippy-content .tooltipTitle + .tooltipFooter {
  margin-top: 0;
}

.tippy-content .tooltipCornerText {
  display: flex;
  justify-content: right;
  font-size: x-small;
}

@media (hover: none) { 
  .desktopOnly {
    display: none;
  }
}

@media only screen and (min-width: 1051px) and (min-height: 595px) {
  #layout {
    max-height: 667px;
  }

  #chatboxContainer {
    width: 300px;
  }

  #chatbox {
    height: calc(100vh - 50px);
    max-height: 617px;
  }

  .chatboxTabSection {
    width: 284px;
  }

  .container {
    height: calc(100vh - 58px);
    max-height: 617px;
  }
}

@media only screen and (max-width: 1050px) and (min-height: 595px) {
  #layout {
    flex-wrap: wrap;
  }

  #chatboxContainer {
    width: 100%;
    height: calc(100vh - 594px);
    min-height: 188px;
    max-height: 328px;
  }

  #chatbox {
    height: calc(100vh - 590px);
    min-height: 200px;
    max-height: 340px;
  }

  #content.downscale #chatboxContainer {
    width: 100%;
    height: calc(100vh - 474px);
  }

  #content.downscale #chatbox {
    height: calc(100vh - 470px);
  }

  #content.downscale2 #chatboxContainer {
    width: 100%;
    height: calc(100vh - 354px);
  }

  #content.downscale2 #chatbox {
    height: calc(100vh - 350px);
  }

  .info {
    padding-bottom: 4px;
  }

  #layout:not(:fullscreen) #onlineInfo {
    justify-content: right;
  }

  #layout:not(:fullscreen) #connStatusText, #layout:not(:fullscreen) #locationLabel {
    display: none;
  }

  /* Ignore :fullscreen on iOS since it's not supported */
  @supports (-webkit-touch-callout: none) {
    #onlineInfo {
      justify-content: right;
    }

    #connStatusText, #locationLabel {
      display: none;
    }
  }

  #connStatus {
    margin-right: 4px;
  }

  .chatboxTabSection {
    width: calc(100% - 16px);
  }

  #layout:not(.chatboxOverlap) #controls {
    align-items: flex-start;
  }

  #layout:not(.chatboxOverlap) #leftControls, #layout:not(.chatboxOverlap) #mapControls {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    flex-wrap: wrap;
  }

  #layout:not(.chatboxOverlap) #leftControls {
    position: absolute;
    left: 0;
    width: auto;
  }
  
  #layout:not(.chatboxOverlap) #rightControls {
    position: absolute;
    display: flex;
    flex-direction: column-reverse;
    align-items: baseline;
    right: 0;
  }

  #layout:fullscreen #chatboxContainer {
    width: calc(100% - 48px);
  }
}

#layout.overflow {
  flex-wrap: wrap;
}

#layout.overflow #controls {
  align-items: flex-start;
}

#layout.overflow #leftControls, #layout.overflow #mapControls {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  flex-wrap: wrap;
}

#layout.overflow #leftControls {
  position: absolute;
  left: 0;
  width: auto;
}

#layout.overflow #rightControls {
  position: absolute;
  display: flex;
  flex-direction: column-reverse;
  align-items: baseline;
  right: 0;
}

#layout.overflow .info {
  padding-bottom: 4px;
}

#layout.overflow .infoContainer {
  margin-right: 4px;
}

#layout.overflow #connStatusText, #layout.overflow #locationLabel {
  display: none;
}

#layout.overflow:not(:fullscreen) #onlineInfo, #layout.overflow:not(:fullscreen) #location {
  justify-content: right;
}

#layout:not(:fullscreen).overflow #chatboxContainer {
  width: 100%;
  height: calc(100vh - 638px);
  min-height: 188px;
  max-height: 328px;
}

#layout:not(:fullscreen).overflow #chatbox {
  height: calc(100vh - 634px);
  min-height: 200px;
  max-height: 340px;
}

#layout:not(:fullscreen).overflow .chatboxTabSection {
  width: calc(100% - 16px);
}

/* Ignore :fullscreen on iOS since it's not supported */
@supports (-webkit-touch-callout: none) {
  #layout.overflow #onlineInfo, #layout.overflow #location {
    justify-content: right;
  }
  
  #layout.overflow #chatboxContainer {
    width: 100%;
    height: calc(100vh - 638px);
    min-height: 188px;
    max-height: 328px;
  }
  
  #layout.overflow #chatbox {
    height: calc(100vh - 634px);
    min-height: 200px;
    max-height: 340px;
  }
  
  #layout.overflow .chatboxTabSection {
    width: calc(100% - 16px);
  }
}

@media only screen and (min-width: 705px) and (max-height: 594px) {
  #layout:not(.overflow) #chatbox {
    width: 240px;
    height: 100%;
  }

  #layout:not(.overflow) .chatboxTabSection {
    height: 100%;
  }

  #canvas {
    max-width: calc((100vh - 96px) * 1.3333);
    max-height: calc(100vh - 96px);
  }

  #content.noSideBorders #mainContainer #canvas {
    max-width: calc((100vh - 48px) * 1.3333);
    max-height: calc(100vh - 48px);
  }

  #chatboxContainer {
    max-height: 100vh;
  }
}

@media only screen and (max-width: 704px) and (max-height: 594px) {
  #chatboxContainer {
    height: calc(100vh - (((100vw - 64px) * 0.75) + 158px));
  }

  #chatbox {
    height: calc(100vh - (((100vw - 64px) * 0.75) + 154px));
  }
}

#layout:fullscreen #mainContainer, #layout:fullscreen #chatboxContainer, #layout:fullscreen #chatbox {
  height: 100%;
  max-height: 100%;
}

#layout:fullscreen #chatboxContainer, #layout:fullscreen #chatbox {
  height: calc(100% - 24px);
}

#layout.overflow.chatboxOverlap:fullscreen #chatboxContainer {
  width: calc(100% - 72px);
  left: 24px;
}

#layout:fullscreen #mainContainer {
  border: none;
  background-image: none !important;
  width: 100%;
  z-index: auto;
}

#content.downscale #layout:fullscreen canvas {
  image-rendering: auto;
  min-width: 640px;
  min-height: 480px;
}

#layout:fullscreen #controls {
  position: fixed;
  right: 0;
}

#layout:fullscreen #controls button {
  margin: 8px 8px 0 0;
}

#layout:fullscreen #leftControls {
  margin-left: 8px;
}

#layout:fullscreen #chatboxContainer {
  position: absolute;
  right: 0;
  height: calc(100% - 48px);
  border-image: none !important;
  background-image: none !important;
  z-index: 2;
}

#layout.chatboxOverlap:fullscreen #chatboxContainer {
  opacity: 50%;
  pointer-events: none;
}

#layout:fullscreen .chatboxTab.active {
  background-image: none !important;
  background-color: var(--base-bg-color);
}

#layout.chatboxOverlap:fullscreen #messages {
  overflow-y: hidden;
}

#layout:fullscreen #uiControls {
  display: none;
}

/* Safari only */
@media not all and (min-resolution:.001dpcm) {
  #layout::-webkit-scrollbar-track, .modalContent::-webkit-scrollbar-track, .scrollableContainer::-webkit-scrollbar-track, #layout::-webkit-scrollbar-thumb, .modalContent::-webkit-scrollbar-thumb, .scrollableContainer::-webkit-scrollbar-thumb, #header, #ynomojiContainer, #enterNameContainer, .container, .modal, .chatboxTab, .chatboxTabSection, #chatBorder, .rankingCategoryTab, .toast, input, select, .checkbox, button.checkboxButton, button[type="button"], button[type="submit"] {
    border-color: unset !important;
  }

  #chatInput {
    border-color: transparent !important;
  }

  .chatboxTabContent {
    border-top-color: unset !important;
    border-left: 0;
    border-right: 0;
    border-bottom: 0;
  }

  .messageContainer {
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom-color: unset !important;
  }

  #rankingsTable th, #rankingsTable td {
    border-top-color: unset !important;
    border-right: 0;
    border-bottom: 0;
    border-left-color: unset !important;
  }
  
  #rankingsTable th:first-child, #rankingsTable td:first-child {
    border-left: 0;
  }
  
  #rankingsTable th {
    border-top: 0;
  }

   /* Don't use text background on Safari since it doesn't repeat properly */
   #enterNameInstruction, .messageContents, .nameText, .nameMarker, .chatboxTabLabel, .subTabLabel, .rankingCategoryTabLabel, .notice, .instruction, .infoLabel, .infoText, .locationLink, .altText, .toastMessage, h1, h2, h3, h4, a, label, th {
    -webkit-text-fill-color: unset;
    background-image: none !important;
  }

  .altText, a:not(.modalClose):not(.listEntryAction) {
    color: var(--alt-color);
  }

  .modal .altText, .modal a:not(.modalClose):not(.listEntryAction) {
    color: var(--modal-alt-color);
  }
}

@media (-webkit-min-device-pixel-ratio: 1.1), (-webkit-max-device-pixel-ratio: 1.9) {
  #gameLogo {
    image-rendering: auto;
  }

  .badge:not(.scaledBadge):not(.overlayBadge) {
    image-rendering: auto;
  }
}