{
	"__comment__": "Map IDs for maps that are inaccessible or otherwise don't represent actual locations that should affect the location text",
	"ignoredMapIds": [ "0001", "9999" ],
	"__comment2__": "Base URL to use for locations. The location title or the urlTitle (if specified) will be appended to this URL. Leave out this property if locations should not be links.",
	"urlRoot": "https://examplewiki.com/wiki/",
	"mapLocations": {
		"__comment3__": "Basic text locations",
		"0002": "Location A",
		"__comment4": "Location with urlTitle specified to override the location link; the name is specified with 'title'.",
		"0003": {
			"title": "Location B",
			"__comment5": "You can override the URL used for location links by specifying urlTitle",
			"urlTitle": "Actual_Location_B"
		},
		"__comment6__": "Multiple locations that will be displayed simultaneously (only use when the location is ambiguous for a map, even given the previous map ID)",
		"0005": [ "Location C", "Location D" ],
		"__comment7__": "Location that will vary depending on previous map ID",
		"0010": {
			"__comment8__": "If previous map ID matches the key, it will use that value for the location",
			"0002": "Location E",
			"0003": { "title": "Location F", "urlTitle": "Actual_Location_F" },
			"__comment9__": "If 'else' is present, its value will be used if the previous map ID does not match any of the keys for this entry (if 'else' is not present, 'Unknown Location' will be displayed)",
			"else": [ "Location E", { "title": "Location F", "urlTitle": "Actual_Location_F" } ]
		}
	},
	"__comment10__": "Locations matching a key for locationUrlTitles will have their urlTitle assigned that entry's value. This is useful for locations with many maps that also need an overridden urlTitle.",
	"locationUrlTitles": {
		"Location E": "Actual_Location_E"
	}
}