{
	"__comment": "A null be used for the URL root and for individual location URLs to prevent location links when the base config has one.",
	"urlRoot": null,
	"mapLocations": {
		"0002": "場所A",
		"0003": "場所B",
		"0005": [ "場所C", "場所D" ],
		"0010": {
			"0002": "場所E",
			"0003": "場所F",
			"else": [ "場所E", "場所F" ]
		}
	}
}